<section class="main">
  <div id="imgDiv">
    <img src="/assets/EPI-USE-logo.png" alt="logo" width="150" height="45">
  </div>
  
<div class="p-3 bg-dark text-white" id="mainSection">
  
<form [formGroup]="reactiveForm" #employeeForm="ngForm" >
  <p class="h2" id="shadowText">Register New Employee</p>
  <div class="form-group" id="topDiv">
    <span 
    *ngIf="reactiveForm.invalid"
    style="color: rgb(253, 82, 82)">Please Ensure All Input Fields are filled in Correctly</span>
    <form [formGroup]="searchForm" id="searchDiv" #search="ngForm" (ngSubmit)="getSearchEmployee()">
      <mat-icon id="searchIcon">search</mat-icon>
      <input (keypress)="keyPressNumbers($event)" minlength="13" maxlength="13" type="text" placeholder="ID" class="form-control" formControlName="id_num">
      <button class="btn btn-primary">Search</button>
    </form>
  </div>  

  <div class="form-group" id="frmDiv">

    

        <input   ngModel #name  type="text" placeholder="Employee Name" class="form-control" formControlName="name">
        <br>

        
        <input  type="text"  placeholder="Employee Surname" class="form-control" formControlName="surname">
        <br>

       
        <input   type="email"  placeholder="Employee Email" class="form-control" formControlName="email">
        <br>

 

        <input type="date" min='1900-01-01' max='{{this.currentDate}}' class="form-control" formControlName="dob">
        <br>

        
        <input  type="text"  placeholder="Employee Nationality"  class="form-control" formControlName="nationality">
        <br>

       
        <input  (keypress)="keyPressNumbers($event)" minlength="13" maxlength="13" type="text" placeholder="Employee ID Number" class="form-control" formControlName="id_number">
        <br>
      
        <input type="text" placeholder="Employee position" class="form-control" formControlName="position">
    <br>
         <ul class="list-group list-group-horizontal-sm">
          <li class="list-group-item" id="currency">
            <currency-list  [currency]="getupdatedCurrency()" id="currency"  class="form-control" formControlName="currency" ngDefaultControl></currency-list>
  
          </li>
          <li class="list-group-item"><input  type="number" min="0" placeholder="Employee salary" class="form-control" formControlName="salary"> </li>
         </ul>
    <br>
    <div class="form-group">
      <select  id="dwellingType" class="form-select" formControlName="dwellingType" >
        <option disabled value="dwellingType" >Residential Dwelling</option>
        <option value="Apartment">Apartment</option>
        <option value="Flat">Flat</option>
        <option value="Farm">Farm</option>
        <option value="House">House</option>
        <option value="Small Holdings">Small Holdings</option>
      </select>
    </div>
    <br>
    <country-list [country]="getupdateCountry()"  formControlName="country" class="form-control" [formGroup]="reactiveForm" ngDefaultControl ></country-list>
    <br>
  

    <input  type="text"  placeholder="Employee Province" class="form-control" formControlName="province"> 
    <br>
  
    <input  type="text"  placeholder="Employee City" class="form-control" formControlName="city">
    <br>
  

    <input  type="text"  placeholder="Employee Address" class="form-control" formControlName="address"> 
    <br>
  
    
    <input  type="text"  placeholder="Employee PO Box" class="form-control" formControlName="poBox">
    <br>

   
    
    <div class="form-group">
        <select  class="form-select" formControlName="locationType">
          <option disabled value="Location Type" >Location Type</option>
          <option value="Office" >Office</option>
          <option value="Remote" >Remote</option>
          <option value="Hybrid" >Hybrid</option>
        </select>
      </div>
      <br>
      

      <country-list [country]="getupdateWorkCountry()" formControlName="work_country" class="form-control" [formGroup]="reactiveForm" ngDefaultControl ></country-list> 

    <br>
  
    
    <input  type="text"  placeholder="Work Province" class="form-control" formControlName="work_province">
    <br>

    <input  type="text"  placeholder="Work City" class="form-control" formControlName="work_city">
    <br>
  
    
    <input  type="text"  placeholder="Work Address" class="form-control" formControlName="work_address">
    <br>
  
    <input type="text"  placeholder="Work PO Box" class="form-control" formControlName="work_poBox">
    <br>
    <button class="btn btn-primary"  (click)="openAddDialog('Add',employeeForm)" [disabled]="reactiveForm.invalid">Add Employee</button>
    <form  #deleteForm="ngForm" >
      <br>
      <button class="btn btn-primary"  (click)="openDialog('Delete',this.reactiveForm.get('id_number')?.value)" [disabled]="reactiveForm.invalid">Remove Employee</button>
    </form>
    <form  #updateForm="ngForm" >
      <br>

      <button class="btn btn-primary"  (click)="openUpdateDialog('Update',employeeForm.value)" [disabled]="reactiveForm.invalid">Update Employee</button>

      
    </form>
</div>
  </form>

 
</div>
</section>